<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ config.nombre }}</title>
    <script src="magia.js"></script>
    <link rel="stylesheet" href="estilos.css">
    {{{ inyectarScripts }}}
  </head>
  <body>
    <main>
      <ul class="lista">
        {{#each canciones}}
        <li data-i="{{@index}}"><a href="#" onclick="play({{@index}})">{{ artista }} - {{ titulo }}</a></li>
        {{/each}}
      </ul>
      <div class="controles">
        <p>Reproduciendo: <span id="playing">...</span></p>
        <audio controls autoplay></audio>
      </div>
    </main>
  </body>
</html>
